@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --header: 215 21% 11%;
    --background: 0 0% 100%;
    --foreground: 210 12% 16%;
    --card: 0 0% 100%;
    --card-foreground: 210 12% 16%;
    --popover: 0 0% 100%;
    --popover-foreground: 210 12% 16%;
    --primary: 212 92% 45%;
    --primary-foreground: 0 0% 100%;
    --secondary: 210 14% 97%;
    --secondary-foreground: 210 24% 16%;
    --muted: 210 14% 97%;
    --muted-foreground: 215 14% 45%;
    --accent: 210 14% 97%;
    --accent-foreground: 210 24% 16%;
    --destructive: 0 72% 51%;
    --destructive-foreground: 0 0% 100%;
    --border: 210 18% 87%;
    --input: 210 18% 87%;
    --ring: 212 92% 45%;
    --radius: 0.375rem;
    --chart-1: 212 92% 45%;
    --chart-2: 212 60% 45%;
    --chart-3: 212 40% 45%;
    --chart-4: 212 30% 45%;
    --chart-5: 212 20% 45%;
  }

  .dark {
    --header: 215 21% 11%;
    --background: 215 21% 11%;
    --foreground: 210 18% 87%;
    --card: 215 21% 11%;
    --card-foreground: 210 18% 87%;
    --popover: 215 21% 11%;
    --popover-foreground: 210 18% 87%;
    --primary: 212 92% 45%;
    --primary-foreground: 0 0% 100%;
    --secondary: 215 14% 17%;
    --secondary-foreground: 210 18% 87%;
    --muted: 215 14% 17%;
    --muted-foreground: 215 14% 65%;
    --accent: 215 14% 17%;
    --accent-foreground: 210 18% 87%;
    --destructive: 0 72% 51%;
    --destructive-foreground: 0 0% 100%;
    --border: 215 14% 24%;
    --input: 215 14% 24%;
    --ring: 212 92% 45%;
    --chart-1: 212 92% 45%;
    --chart-2: 212 60% 45%;
    --chart-3: 212 40% 45%;
    --chart-4: 212 30% 45%;
    --chart-5: 212 20% 45%;
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
